/* Reset de estilos básicos */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0; /* Color de fondo para toda la página */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Estilos para el contenedor */
.container {
    background-color: #fff; /* Color de fondo del contenedor */
    padding: 40px; /* Espaciado interno del contenedor */
    border-radius: 8px; /* Bordes redondeados del contenedor */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera para el contenedor */
    text-align: left; /* Alineación del texto a la izquierda */
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 100%;
    margin: 20px;
}

h2 {
    color: #333; /* Color del título */
    margin-bottom: 20px; /* Margen inferior del título */
    font-size: 28px; /* Tamaño del título */
    text-align: center; /* Alineación del título */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px; /* Margen inferior de las etiquetas */
    color: #333; /* Color del texto de las etiquetas */
    font-weight: bold; /* Texto en negrita para las etiquetas */
}

input[type="text"],
input[type="email"] {
    padding: 10px; /* Relleno interno de los campos de texto */

    border: 1px solid #ccc; /* Borde del campo de texto */
    border-radius: 4px; /* Bordes redondeados del campo de texto */
    font-size: 16px; /* Tamaño de fuente de los campos de texto */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Caja de dimensiones que incluye el borde */
}

input[type="submit"] {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 12px 20px; /* Relleno interno del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cursor estilo puntero */
    text-decoration: none; /* Sin decoración de texto */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
    width: 100%; /* Ancho completo */
    margin-top: 10px; /* Margen superior del botón */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

a {
    text-decoration: none; /* Sin decoración de texto */
    color: #007bff; /* Color del enlace */
    transition: color 0.3s ease; /* Transición suave del color */
}

a:hover {
    color: #0056b3; /* Color del enlace al pasar el mouse */
}

/* Estilos para el espacio entre elementos */
br {
    margin-bottom: 10px; /* Margen inferior de los saltos de línea */
}
